@font-face {
    font-family: merriweather;
    src: url(fonts/Merriweather-Regular.ttf);
}

.header{
    background-color: #316DC3;
}

.white{
    color: white;
}

.icon img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
}

.nav ul{
    list-style-type: none;
    margin-left: 70px;
}

.nav ul li{
    margin-top: -9px;
    padding-top: 5px;
    height: 35px;
    text-align: center;
    float: left;
    color: black;
    width: 100px;
    font-size: 14px;
}
.nav ul li:hover{
    background-color: #316DC3;
    border-radius: 25px;
    height: 35px;
    color: white;
}
ul#nav2 .active{
    background-color: #316DC3;
    border-radius: 25px;
    color: white;
}

.ser{
    margin-left: 7px;
}
.slid{
    height: 501px;
    padding: 0px;
}
.marq{
    height: 45px;
}

.marq marquee{
    margin-top: 7px;
    background-color: #316DC3;
    height: 27px;
    color: white;
    font-size: 14px;
    padding-top: 2px;
}
.blue{
    color: #316DC3;
}

.green{
    color: green;
}

.bgw{
    background-color: whitesmoke;
}
.small-icon{
    width: 160px;
    height: 40;
    margin: 0 auto;
    max-width: 160px;
    position: relative;
}

.small-icon::before {
    content: "";
    height: 2px;
    position: absolute;
    right: 10px;
    top: 30px;
    width: 36px;
    background-color: green;
}

.small-icon::after {
    content: "";
    height: 2px;
    left: 10px;
    position: absolute;
    top: 30px;
    width: 36px;
    background-color: green;
}

.para{
    line-height: 1.9;
    text-align: justify;
    font-size: 15px;
}

.box h2{
    padding-top: 10px;
    color: white;
    font-size: 3rem;
    font-family: merriweather, serif;
    font-weight: 500;
}
.box h5{
    padding-top: 5px;
    font-size: 16px;
    color: white;
    font-weight: 700;
}
.l-green{
    color: lightgreen;
    font-weight: 600;
}
.pad{
    padding-top: 80px;
    padding-bottom: 80px;
}

.counter{
    background-color: rgba(36, 79, 242, 0.8);
}

.doing img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.doing h5{
    padding-top: 5px;
    padding-bottom: 25px;
}
.doing{
    /* margin-top: 30px;
    margin-left: 30px; */
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    
}

.small-line {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
}
.small-line::after{
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #427900;
}

.bottom-border{
    border-bottom: 1px solid #eeeeee !important;
}
.bottom-border2{
    border-bottom: 1px solid rgb(70, 66, 66) !important;
}

.gallery{
    width: 20%;
    height: 150px;
    float: left;
}

.spa{
    margin-bottom: 150px;
}

.footer-color{
    background-color:  rgb(37, 39, 46);
    font-size: 12px;
    line-height: 2;
    padding-top: 80px;
    padding-bottom: 80px;
}

.bgb{
    background-color: #316DC3;
    width: 65px;
    height: 35px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    text-align: center;
}
.bgb img{
    padding-bottom: 1px;
}

.footer-social{
    border-spacing: 5px;
    border-collapse: separate;
    width: 145px;
}

.footer-copy{
    background-color: #316DC3;
    font-size: 12px;
}